.container
  .block.a
    .block_a_love
      #lo 愛
      #ve 情
      #ma 魔
      #gi 法
      #cian 師

    .block_a_Middle
      svg#magic1(viewbox="-50 -50 100 100")
        line#mail(x1="-55" y1="80" x2="-40" y2="50")
        line#card1.card(x1="-19" y1="5" x2="-17" y2="5")
        line#card2.card(x1="-19" y1="4" x2="-17" y2="4")
        line#card3.card(x1="-19" y1="4" x2="-17" y2="4")
        line#card4.card(x1="-19" y1="4" x2="-17" y2="4")
        line#card5.card(x1="-19" y1="4" x2="-17" y2="4")
        line#card6.card(x1="-19" y1="4" x2="-17" y2="4")
        line#card7.card(x1="-19" y1="4" x2="-17" y2="4")
        line#card8.card(x1="-19" y1="4" x2="-17" y2="4")
        line#card9.card(x1="-19" y1="4" x2="-17" y2="4")
        line#card10.card(x1="-19" y1="4" x2="-17" y2="4")
        line#card11.card(x1="-19" y1="4" x2="-17" y2="4")
        line#card12.card(x1="-19" y1="4" x2="-17" y2="4")
        line#card13.card(x1="-19" y1="4" x2="-17" y2="4")
        line#card14.card(x1="-19" y1="4" x2="-17" y2="4")
        line#card15.card(x1="-19" y1="4" x2="-17" y2="4")  
         
  .block.intro
    .sblocks
      .sblock
        .cross
          .line1
          .line2
          .line3
        h5 三句信賴術
      .sblock
        .cross
          svg.cross2(viewbox="0 0 200 200")
            rect.rectC(x="15" y="180" width="40" height="20")
            rect.rectC(x="80" y="140" width="40" height="60")
            rect.rectC(x="145" y="100" width="40" height="100")
        h5 感情升溫術
      .sblock
        .cross
          svg.cross3(viewbox="-50 -50 100 100")
            line.line4.aa(x1="-40" y1="0" x2="40" y2="0")
            line.line5.aa(x1="0" y1="-40" x2="0" y2="40")
            circle.circle1(cx="0" cy="0" r="10")
            circle.moveC(cx="0" cy="0" r="1")
        h5 告白必勝術
  .block.b 
    h4 破解你對愛情的所有傳統觀念
    p 如果有個人告訴你，感情不包括外在，他一定是騙人的
    p 如果有個人告訴你，感情不需要相遇的悸動，他一定不懂愛情
    p 如果有個人告訴你，感情不關乎浪漫的告白，他一定不懂箇中妙處
    p 完美的你，遇到完美的愛情
    p 是我們的堅持
  .block.c
    h4 有一天我醒來
    p 我發現不是女孩子們愛上我
    p 而是我已經更愛我自己
  .block.d
    img.white1(src="https://scontent-tpe1-1.xx.fbcdn.net/v/t1.0-9/12294841_1188798617801766_260568293066083114_n.jpg?oh=b070982193481d01477e35812322f020&oe=58C393CF")
    p 愛情魔法師 - Mars
    p 一流講師
    p 專屬於您的愛情顧問
    p 授與你最棒的約會體驗
  .block.e
    img.white2(src="https://scontent-tpe1-1.xx.fbcdn.net/v/t1.0-9/292542_479914438690191_5883178_n.jpg?oh=803ff8de6dfd0d47db9ade97d8803b8e&oe=58911EBC")
    p 各大學府講課經驗
    p 新手友善，幫助無數學子
    p 你，一定不能錯過
    
  .block.f
    img.white3(src="https://scontent-tpe1-1.xx.fbcdn.net/v/t1.0-0/p206x206/525357_621340367880930_31502498_n.jpg?oh=cc938c77dd41080b2775f78ae1e7f219&oe=588C7264")
    p 助人為本，如果收入上有所困難
    p 我們有清寒價
    p 因為唯獨愛情，無價
  .block.g
    h4 一通電話，無須等待
    h4 真愛專線：02-3234-7784
    p ～ 愛情魔法師，與你有約 ～